# === BetterGitignore Managed ===
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.DS_Store
Thumbs.db
# === End BetterGitignore ===

Robert.md
Test.md
.obsidian/plugins/recent-files-obsidian/data.json
