# === Obsidian Workspace (nicht synchronisieren) ===
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# === System Files ===
.DS_Store
Thumbs.db

# === Do not sync Notes and Journal ===
Daily/*
!Daily/.gitkeep
Notes/*
!Notes/.gitkeep


# === Spezifische private Dateien ===


# === Plugin-spezifische Daten (nicht synchronisieren) ===
.obsidian/plugins/recent-files-obsidian/
